<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>demo list</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.1/css/bootstrap.min.css">
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>demo list <small>show demo!</small></h1>
			</div>
			<div class="row">
				<div class="col-md-6">
					<ul class="list-group">
						<li class="list-group-item"><a href="mge/autoconfig" target="_blank">autoconfig</a></li>
						<li class="list-group-item"><a href="mge/configprops" target="_blank">configprops</a></li>
						<li class="list-group-item"><a href="mge/beans" target="_blank">beans</a></li>
						<li class="list-group-item"><a href="mge/dump" target="_blank">dump</a></li>
						<li class="list-group-item"><a href="mge/env" target="_blank">env</a></li>
						<li class="list-group-item"><a href="mge/health" target="_blank">health</a></li>
						<li class="list-group-item"><a href="mge/info" target="_blank">info</a></li>
						<li class="list-group-item"><a href="mge/mappings" target="_blank">mappings</a></li>
						<li class="list-group-item"><a href="mge/metrics" target="_blank">metrics</a></li>
						<li class="list-group-item"><a href="mge/shutdown" target="_blank">shutdown,需要post到这个接口来终止服务器</a></li>
						<li class="list-group-item"><a href="mge/trace" target="_blank">trace</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<ul class="list-group">
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>